<!DOCTYPE html>
<html>
    <head>
        <title>Coding Corner</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Coding Corner</a></h1>
        </header>

        <article>
            <time>published: 11.04.2024, 16:50</time>
            <h2><a href="">Type Casting</a></h2>
            <p>
                Type conversion -as the name implies- is converting data of one type to another. 
                This either happens implicitly or can be done explicitly.
                Implicit type conversion is done by Python to convert smaller types to larger types.
            </p>
        </article>

        <article>
            <time>published: 12.04.2024, 17:00</time>
            <h2><a href="">User-defined Functions</a></h2>
            <p>
                Functions are used in programming languages to organize code better and to provide code reusability. 
                If we have to perform several tasks in our code, we can define functions for each of them separately. 
                Then, we can reuse those functions in our main code when we need to perform the task repetitively. 
                This way, we can abstract away the implementation details from our main code.
            </p>
        </article>
    </body>
</html>